# Extract Tweets

In [ ]:
!pip install tweepy datetime

## Play!

In [ ]:
!python get_tweets.py

# Entendendo a estrutura do JSON

In [5]:
import json

In [6]:
# Abrir o arquivo de tweets e les as linhas
with open('collected_tweets_2021-02-01-14-59-34.txt', 'r') as file:
    tweets = file.readlines()

In [7]:
tweets[7]

'"{\\"created_at\\":\\"Mon Feb 01 17:59:30 +0000 2021\\",\\"id\\":1356301162966876160,\\"id_str\\":\\"1356301162966876160\\",\\"text\\":\\"RT @charliekirk11: The left would rather give Stacey Abrams the Nobel Peace Prize for flipping Georgia blue than Donald Trump for bringing\\\\u2026\\",\\"source\\":\\"\\\\u003ca href=\\\\\\"http:\\\\/\\\\/twitter.com\\\\/download\\\\/android\\\\\\" rel=\\\\\\"nofollow\\\\\\"\\\\u003eTwitter for Android\\\\u003c\\\\/a\\\\u003e\\",\\"truncated\\":false,\\"in_reply_to_status_id\\":null,\\"in_reply_to_status_id_str\\":null,\\"in_reply_to_user_id\\":null,\\"in_reply_to_user_id_str\\":null,\\"in_reply_to_screen_name\\":null,\\"user\\":{\\"id\\":883003959941746688,\\"id_str\\":\\"883003959941746688\\",\\"name\\":\\"Fred-Eau Claire, WI\\",\\"screen_name\\":\\"LocoMan54345595\\",\\"location\\":\\"Eau Claire, WI\\",\\"url\\":null,\\"description\\":\\"Before: Ex-con, former member of a Motocycle Club. Now:  Proud Native American, follower of Christ Jesus and Ordained Minister.\\",\\"translator_type\\":\\"none\\",\\"protected\\":false,\\"verified\\":false,\\"followers_count\\":20,\\"friends_count\\":92,\\"listed_count\\":0,\\"favourites_count\\":6823,\\"statuses_count\\":1193,\\"created_at\\":\\"Thu Jul 06 16:45:24 +0000 2017\\",\\"utc_offset\\":null,\\"time_zone\\":null,\\"geo_enabled\\":true,\\"lang\\":null,\\"contributors_enabled\\":false,\\"is_translator\\":false,\\"profile_background_color\\":\\"F5F8FA\\",\\"profile_background_image_url\\":\\"\\",\\"profile_background_image_url_https\\":\\"\\",\\"profile_background_tile\\":false,\\"profile_link_color\\":\\"1DA1F2\\",\\"profile_sidebar_border_color\\":\\"C0DEED\\",\\"profile_sidebar_fill_color\\":\\"DDEEF6\\",\\"profile_text_color\\":\\"333333\\",\\"profile_use_background_image\\":true,\\"profile_image_url\\":\\"http:\\\\/\\\\/pbs.twimg.com\\\\/profile_images\\\\/1228069570222710809\\\\/cEQa1LWl_normal.jpg\\",\\"profile_image_url_https\\":\\"https:\\\\/\\\\/pbs.twimg.com\\\\/profile_images\\\\/1228069570222710809\\\\/cEQa1LWl_normal.jpg\\",\\"default_profile\\":true,\\"default_profile_image\\":false,\\"following\\":null,\\"follow_request_sent\\":null,\\"notifications\\":null},\\"geo\\":null,\\"coordinates\\":null,\\"place\\":null,\\"contributors\\":null,\\"retweeted_status\\":{\\"created_at\\":\\"Mon Feb 01 17:57:38 +0000 2021\\",\\"id\\":1356300690746826752,\\"id_str\\":\\"1356300690746826752\\",\\"text\\":\\"The left would rather give Stacey Abrams the Nobel Peace Prize for flipping Georgia blue than Donald Trump for brin\\\\u2026 https:\\\\/\\\\/t.co\\\\/Afbv1FJzwO\\",\\"source\\":\\"\\\\u003ca href=\\\\\\"https:\\\\/\\\\/mobile.twitter.com\\\\\\" rel=\\\\\\"nofollow\\\\\\"\\\\u003eTwitter Web App\\\\u003c\\\\/a\\\\u003e\\",\\"truncated\\":true,\\"in_reply_to_status_id\\":null,\\"in_reply_to_status_id_str\\":null,\\"in_reply_to_user_id\\":null,\\"in_reply_to_user_id_str\\":null,\\"in_reply_to_screen_name\\":null,\\"user\\":{\\"id\\":292929271,\\"id_str\\":\\"292929271\\",\\"name\\":\\"Charlie Kirk\\",\\"screen_name\\":\\"charliekirk11\\",\\"location\\":\\"Phoenix, AZ\\",\\"url\\":\\"http:\\\\/\\\\/t.me\\\\/CharlieKirk\\",\\"description\\":\\"Founder & President\\\\u2014@TPUSA Host\\\\u2014The Charlie Kirk Show Author\\\\u2014\'The MAGA Doctrine\\\\u2019 We are all sinners saved by Jesus Opinions here are my own\\",\\"translator_type\\":\\"none\\",\\"protected\\":false,\\"verified\\":true,\\"followers_count\\":1728043,\\"friends_count\\":203609,\\"listed_count\\":5225,\\"favourites_count\\":30058,\\"statuses_count\\":49675,\\"created_at\\":\\"Wed May 04 13:37:25 +0000 2011\\",\\"utc_offset\\":null,\\"time_zone\\":null,\\"geo_enabled\\":true,\\"lang\\":null,\\"contributors_enabled\\":false,\\"is_translator\\":false,\\"profile_background_color\\":\\"C0DEED\\",\\"profile_background_image_url\\":\\"http:\\\\/\\\\/abs.twimg.com\\\\/images\\\\/themes\\\\/theme1\\\\/bg.png\\",\\"profile_background_image_url_https\\":\\"https:\\\\/\\\\/abs.twimg.com\\\\/images\\\\/themes\\\\/theme1\\\\/bg.png\\",\\"profile_background_tile\\":false,\\"profile_link_color\\":\\"1DA1F2\\",\\"profile_sidebar_border_color\\":\\"C0DEED\\",\\"profile_sidebar_fill_color\\":\\"DDEEF6\\",\\"profile_text_color\\":\\"333333\\",\\"profile_use_background_image\\":true,\\"profile_image_url\\":\\"http:\\\\/\\\\/pbs.twimg.com\\\\/profile_images\\\\/1095532385926631424\\\\/ODX2AmEZ_normal.jpg\\",\\"profile_image_url_https\\":\\"https:\\\\/\\\\/pbs.twimg.com\\\\/profile_images\\\\/1095532385926631424\\\\/ODX2AmEZ_normal.jpg\\",\\"profile_banner_url\\":\\"https:\\\\/\\\\/pbs.twimg.com\\\\/profile_banners\\\\/292929271\\\\/1602875266\\",\\"default_profile\\":true,\\"default_profile_image\\":false,\\"following\\":null,\\"follow_request_sent\\":null,\\"notifications\\":null},\\"geo\\":null,\\"coordinates\\":null,\\"place\\":null,\\"contributors\\":null,\\"is_quote_status\\":false,\\"extended_tweet\\":{\\"full_text\\":\\"The left would rather give Stacey Abrams the Nobel Peace Prize for flipping Georgia blue than Donald Trump for bringing literal peace to the Middle East. Democrats care much more about power than actual peace.\\",\\"display_text_range\\":[0,209],\\"entities\\":{\\"hashtags\\":[],\\"urls\\":[],\\"user_mentions\\":[],\\"symbols\\":[]}},\\"quote_count\\":6,\\"reply_count\\":32,\\"retweet_count\\":69,\\"favorite_count\\":332,\\"entities\\":{\\"hashtags\\":[],\\"urls\\":[{\\"url\\":\\"https:\\\\/\\\\/t.co\\\\/Afbv1FJzwO\\",\\"expanded_url\\":\\"https:\\\\/\\\\/twitter.com\\\\/i\\\\/web\\\\/status\\\\/1356300690746826752\\",\\"display_url\\":\\"twitter.com\\\\/i\\\\/web\\\\/status\\\\/1\\\\u2026\\",\\"indices\\":[117,140]}],\\"user_mentions\\":[],\\"symbols\\":[]},\\"favorited\\":false,\\"retweeted\\":false,\\"filter_level\\":\\"low\\",\\"lang\\":\\"en\\"},\\"is_quote_status\\":false,\\"quote_count\\":0,\\"reply_count\\":0,\\"retweet_count\\":0,\\"favorite_count\\":0,\\"entities\\":{\\"hashtags\\":[],\\"urls\\":[],\\"user_mentions\\":[{\\"screen_name\\":\\"charliekirk11\\",\\"name\\":\\"Charlie Kirk\\",\\"id\\":292929271,\\"id_str\\":\\"292929271\\",\\"indices\\":[3,17]}],\\"symbols\\":[]},\\"favorited\\":false,\\"retweeted\\":false,\\"filter_level\\":\\"low\\",\\"lang\\":\\"en\\",\\"timestamp_ms\\":\\"1612202370765\\"}\\r\\n"\n'

In [8]:
#fazendo o parse to tweet para um formato json e exportar arquivo
with open('tweet.json', 'w') as f:
    json.dump(
        json.loads( json.loads(tweets[0])),
        f
    )

In [9]:
type (
    json.loads(
        json.loads(tweets[0])
    )
)

dict

In [10]:
json.loads(
        json.loads(tweets[0])
    )

{'created_at': 'Mon Feb 01 17:59:30 +0000 2021',
 'id': 1356301162492919814,
 'id_str': '1356301162492919814',
 'text': 'RT @OANN: MSNBC condemns â€˜violenceâ€™, but urges â€˜drone strikeâ€™ on President Trump - https://t.co/GPwn9zYlDl #OANN https://t.co/Ft3hdGsE6T',
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'truncated': False,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 1289573055644274688,
  'id_str': '1289573055644274688',
  'name': 'Jeff Michael',
  'screen_name': 'jeff_michael03',
  'location': 'United States',
  'url': None,
  'description': 'USMC GWOT Combat Veteran - Patriot - #Bitcoin',
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 596,
  'friends_count': 470,
  'listed_count': 1,
  'favourites_count': 9982,
  'statuses_count': 7605,
  'created_at': 'Sat Aug 01 14:45:59 +0000 2020',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': False,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': 'F5F8FA',
  'profile_background_image_url': '',
  'profile_background_image_url_https': '',
  'profile_background_tile': False,
  'profile_link_color': '1DA1F2',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1348344252636557315/U-CpwTFq_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1348344252636557315/U-CpwTFq_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1289573055644274688/1611628639',
  'default_profile': True,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'retweeted_status': {'created_at': 'Mon Feb 01 15:59:16 +0000 2021',
  'id': 1356270903848394752,
  'id_str': '1356270903848394752',
  'text': 'MSNBC condemns â€˜violenceâ€™, but urges â€˜drone strikeâ€™ on President Trump - https://t.co/GPwn9zYlDl #OANN https://t.co/Ft3hdGsE6T',
  'display_text_range': [0, 102],
  'source': '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>',
  'truncated': False,
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'in_reply_to_screen_name': None,
  'user': {'id': 1209936918,
   'id_str': '1209936918',
   'name': 'One America News',
   'screen_name': 'OANN',
   'location': None,
   'url': 'http://oann.com',
   'description': 'Your nation. Your news. #OANN',
   'translator_type': 'none',
   'protected': False,
   'verified': True,
   'followers_count': 1496135,
   'friends_count': 66,
   'listed_count': 5528,
   'favourites_count': 3174,
   'statuses_count': 133480,
   'created_at': 'Fri Feb 22 22:24:39 +0000 2013',
   'utc_offset': None,
   'time_zone': None,
   'geo_enabled': True,
   'lang': None,
   'contributors_enabled': False,
   'is_translator': False,
   'profile_background_color': 'EBEBEB',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme7/bg.gif',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme7/bg.gif',
   'profile_background_tile': False,
   'profile_link_color': '990000',
   'profile_sidebar_border_color': 'FFFFFF',
   'profile_sidebar_fill_color': 'DDEEF6',
   'profile_text_color': '333333',
   'profile_use_background_image': False,
   'profile_image_url': 'http://pbs.twimg.com/profile_images/579744264751448064/DH0xDrdO_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/579744264751448064/DH0xDrdO_normal.jpg',
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1209936918/1448043588',
   'default_profile': False,
   'default_profile_image': False,
   'following': None,
   'follow_request_sent': None,
   'notifications': None},
  'geo': None,
  'coordinates': None,
  'place': None,
  'contributors': None,
  'is_quote_status': False,
  'quote_count': 95,
  'reply_count': 226,
  'retweet_count': 985,
  'favorite_count': 1782,
  'entities': {'hashtags': [{'text': 'OANN', 'indices': [97, 102]}],
   'urls': [{'url': 'https://t.co/GPwn9zYlDl',
     'expanded_url': 'https://www.oann.com/msnbc-condemns-violence-but-urges-drone-strike-on-president-trump/',
     'display_url': 'oann.com/msnbc-condemnsâ€¦',
     'indices': [73, 96]}],
   'user_mentions': [],
   'symbols': [],
   'media': [{'id': 1356270894939729922,
     'id_str': '1356270894939729922',
     'indices': [103, 126],
     'media_url': 'http://pbs.twimg.com/media/EtJxMXAVcAIgZ0Z.jpg',
     'media_url_https': 'https://pbs.twimg.com/media/EtJxMXAVcAIgZ0Z.jpg',
     'url': 'https://t.co/Ft3hdGsE6T',
     'display_url': 'pic.twitter.com/Ft3hdGsE6T',
     'expanded_url': 'https://twitter.com/OANN/status/1356270903848394752/photo/1',
     'type': 'photo',
     'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
      'medium': {'w': 1024, 'h': 683, 'resize': 'fit'},
      'large': {'w': 1024, 'h': 683, 'resize': 'fit'},
      'small': {'w': 680, 'h': 454, 'resize': 'fit'}}}]},
  'extended_entities': {'media': [{'id': 1356270894939729922,
     'id_str': '1356270894939729922',
     'indices': [103, 126],
     'media_url': 'http://pbs.twimg.com/media/EtJxMXAVcAIgZ0Z.jpg',
     'media_url_https': 'https://pbs.twimg.com/media/EtJxMXAVcAIgZ0Z.jpg',
     'url': 'https://t.co/Ft3hdGsE6T',
     'display_url': 'pic.twitter.com/Ft3hdGsE6T',
     'expanded_url': 'https://twitter.com/OANN/status/1356270903848394752/photo/1',
     'type': 'photo',
     'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
      'medium': {'w': 1024, 'h': 683, 'resize': 'fit'},
      'large': {'w': 1024, 'h': 683, 'resize': 'fit'},
      'small': {'w': 680, 'h': 454, 'resize': 'fit'}}}]},
  'favorited': False,
  'retweeted': False,
  'possibly_sensitive': False,
  'filter_level': 'low',
  'lang': 'en'},
 'is_quote_status': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [{'text': 'OANN', 'indices': [107, 112]}],
  'urls': [{'url': 'https://t.co/GPwn9zYlDl',
    'expanded_url': 'https://www.oann.com/msnbc-condemns-violence-but-urges-drone-strike-on-president-trump/',
    'display_url': 'oann.com/msnbc-condemnsâ€¦',
    'indices': [83, 106]}],
  'user_mentions': [{'screen_name': 'OANN',
    'name': 'One America News',
    'id': 1209936918,
    'id_str': '1209936918',
    'indices': [3, 8]}],
  'symbols': [],
  'media': [{'id': 1356270894939729922,
    'id_str': '1356270894939729922',
    'indices': [113, 136],
    'media_url': 'http://pbs.twimg.com/media/EtJxMXAVcAIgZ0Z.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/EtJxMXAVcAIgZ0Z.jpg',
    'url': 'https://t.co/Ft3hdGsE6T',
    'display_url': 'pic.twitter.com/Ft3hdGsE6T',
    'expanded_url': 'https://twitter.com/OANN/status/1356270903848394752/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'medium': {'w': 1024, 'h': 683, 'resize': 'fit'},
     'large': {'w': 1024, 'h': 683, 'resize': 'fit'},
     'small': {'w': 680, 'h': 454, 'resize': 'fit'}},
    'source_status_id': 1356270903848394752,
    'source_status_id_str': '1356270903848394752',
    'source_user_id': 1209936918,
    'source_user_id_str': '1209936918'}]},
 'extended_entities': {'media': [{'id': 1356270894939729922,
    'id_str': '1356270894939729922',
    'indices': [113, 136],
    'media_url': 'http://pbs.twimg.com/media/EtJxMXAVcAIgZ0Z.jpg',
    'media_url_https': 'https://pbs.twimg.com/media/EtJxMXAVcAIgZ0Z.jpg',
    'url': 'https://t.co/Ft3hdGsE6T',
    'display_url': 'pic.twitter.com/Ft3hdGsE6T',
    'expanded_url': 'https://twitter.com/OANN/status/1356270903848394752/photo/1',
    'type': 'photo',
    'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
     'medium': {'w': 1024, 'h': 683, 'resize': 'fit'},
     'large': {'w': 1024, 'h': 683, 'resize': 'fit'},
     'small': {'w': 680, 'h': 454, 'resize': 'fit'}},
    'source_status_id': 1356270903848394752,
    'source_status_id_str': '1356270903848394752',
    'source_user_id': 1209936918,
    'source_user_id_str': '1209936918'}]},
 'favorited': False,
 'retweeted': False,
 'possibly_sensitive': False,
 'filter_level': 'low',
 'lang': 'en',
 'timestamp_ms': '1612202370652'}

In [11]:
parsed_tweets = [json.loads(json.loads(i)) for i in tweets]

In [12]:
len(parsed_tweets)

331

# Acessando as chaves do JSON (dicionÃ¡rio)

In [13]:
firsttweet = parsed_tweets[8]
firsttweet

{'created_at': 'Mon Feb 01 17:59:30 +0000 2021',
 'id': 1356301162958479367,
 'id_str': '1356301162958479367',
 'text': 'RT @TrumpWarRoom: Former solicitor general of the United States Ken Starr highlights why Democrats canâ€™t  impeach former President Trump.â€¦',
 'source': '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>',
 'truncated': False,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 395491775,
  'id_str': '395491775',
  'name': 'P. L.',
  'screen_name': 'PL14',
  'location': 'USA',
  'url': None,
  'description': 'I want the world to be better. I will retweet news updates, comments or positive images that are important. No DMs plz but thanks for all follows!',
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 1482,
  'friends_count': 3001,
  'listed_count': 193,
  'favourites_count': 52586,
  'statuses_count': 322278,
  'created_at': 'Fri Oct 21 19:01:11 +0000 2011',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': False,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': 'EDECE9',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme3/bg.gif',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme3/bg.gif',
  'profile_background_tile': False,
  'profile_link_color': '088253',
  'profile_sidebar_border_color': 'D3D2CF',
  'profile_sidebar_fill_color': 'E3E2DE',
  'profile_text_color': '634047',
  'profile_use_background_image': True,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/485086797009932289/Lgup3wBz_normal.jpeg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/485086797009932289/Lgup3wBz_normal.jpeg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/395491775/1400242665',
  'default_profile': False,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'retweeted_status': {'created_at': 'Mon Feb 01 15:41:39 +0000 2021',
  'id': 1356266471509417990,
  'id_str': '1356266471509417990',
  'text': 'Former solicitor general of the United States Ken Starr highlights why Democrats canâ€™t  impeach former President Trâ€¦ https://t.co/dihugwtBsQ',
  'display_text_range': [0, 140],
  'source': '<a href="https://studio.twitter.com" rel="nofollow">Twitter Media Studio</a>',
  'truncated': True,
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'in_reply_to_screen_name': None,
  'user': {'id': 1108472017144201216,
   'id_str': '1108472017144201216',
   'name': 'Trump War Room',
   'screen_name': 'TrumpWarRoom',
   'location': 'MAGA Country',
   'url': 'https://www.donaldjtrump.com/',
   'description': 'This account punches back 10x harder. Managed by Save America ðŸ‡ºðŸ‡¸',
   'translator_type': 'none',
   'protected': False,
   'verified': True,
   'followers_count': 1262525,
   'friends_count': 269,
   'listed_count': 3461,
   'favourites_count': 99,
   'statuses_count': 27204,
   'created_at': 'Wed Mar 20 20:54:58 +0000 2019',
   'utc_offset': None,
   'time_zone': None,
   'geo_enabled': False,
   'lang': None,
   'contributors_enabled': False,
   'is_translator': False,
   'profile_background_color': '000000',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_tile': False,
   'profile_link_color': 'ABB8C2',
   'profile_sidebar_border_color': '000000',
   'profile_sidebar_fill_color': '000000',
   'profile_text_color': '000000',
   'profile_use_background_image': False,
   'profile_image_url': 'http://pbs.twimg.com/profile_images/1109170568950095879/Q5nCWHLB_normal.png',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1109170568950095879/Q5nCWHLB_normal.png',
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1108472017144201216/1611158416',
   'default_profile': False,
   'default_profile_image': False,
   'following': None,
   'follow_request_sent': None,
   'notifications': None},
  'geo': None,
  'coordinates': None,
  'place': None,
  'contributors': None,
  'is_quote_status': False,
  'extended_tweet': {'full_text': 'Former solicitor general of the United States Ken Starr highlights why Democrats canâ€™t  impeach former President Trump.\n\n"The Senate is utterly without jurisdiction to try Donald Trump." https://t.co/plxF0k7Pqs',
   'display_text_range': [0, 186],
   'entities': {'hashtags': [],
    'urls': [],
    'user_mentions': [],
    'symbols': [],
    'media': [{'id': 1356262109223464968,
      'id_str': '1356262109223464968',
      'indices': [187, 210],
      'additional_media_info': {'title': 'Ken Starr highlights why Democrats canâ€™t impeach Donald Trump',
       'description': 'Former solicitor general of the United States Ken Starr highlights why Democrats canâ€™t  impeach former President Trump:\n \n"The Senate is utterly without jurisdiction to try Donald Trump."',
       'embeddable': True,
       'monetizable': False},
      'media_url': 'http://pbs.twimg.com/amplify_video_thumb/1356262109223464968/img/cddnjs9sflXUwEVD.jpg',
      'media_url_https': 'https://pbs.twimg.com/amplify_video_thumb/1356262109223464968/img/cddnjs9sflXUwEVD.jpg',
      'url': 'https://t.co/plxF0k7Pqs',
      'display_url': 'pic.twitter.com/plxF0k7Pqs',
      'expanded_url': 'https://twitter.com/TrumpWarRoom/status/1356266471509417990/video/1',
      'type': 'video',
      'video_info': {'aspect_ratio': [16, 9],
       'duration_millis': 400567,
       'variants': [{'bitrate': 2176000,
         'content_type': 'video/mp4',
         'url': 'https://video.twimg.com/amplify_video/1356262109223464968/vid/1280x720/oOQwoP8YChJLbtx0.mp4?tag=14'},
        {'content_type': 'application/x-mpegURL',
         'url': 'https://video.twimg.com/amplify_video/1356262109223464968/pl/RelpYNh3WGsxWDmP.m3u8?tag=14'},
        {'bitrate': 832000,
         'content_type': 'video/mp4',
         'url': 'https://video.twimg.com/amplify_video/1356262109223464968/vid/640x360/0cwmNHjU-ZKlOYXk.mp4?tag=14'},
        {'bitrate': 288000,
         'content_type': 'video/mp4',
         'url': 'https://video.twimg.com/amplify_video/1356262109223464968/vid/480x270/TSNP8hYj-9EaBd5y.mp4?tag=14'}]},
      'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
       'medium': {'w': 1200, 'h': 675, 'resize': 'fit'},
       'small': {'w': 680, 'h': 383, 'resize': 'fit'},
       'large': {'w': 1280, 'h': 720, 'resize': 'fit'}}}]},
   'extended_entities': {'media': [{'id': 1356262109223464968,
      'id_str': '1356262109223464968',
      'indices': [187, 210],
      'additional_media_info': {'title': 'Ken Starr highlights why Democrats canâ€™t impeach Donald Trump',
       'description': 'Former solicitor general of the United States Ken Starr highlights why Democrats canâ€™t  impeach former President Trump:\n \n"The Senate is utterly without jurisdiction to try Donald Trump."',
       'embeddable': True,
       'monetizable': False},
      'media_url': 'http://pbs.twimg.com/amplify_video_thumb/1356262109223464968/img/cddnjs9sflXUwEVD.jpg',
      'media_url_https': 'https://pbs.twimg.com/amplify_video_thumb/1356262109223464968/img/cddnjs9sflXUwEVD.jpg',
      'url': 'https://t.co/plxF0k7Pqs',
      'display_url': 'pic.twitter.com/plxF0k7Pqs',
      'expanded_url': 'https://twitter.com/TrumpWarRoom/status/1356266471509417990/video/1',
      'type': 'video',
      'video_info': {'aspect_ratio': [16, 9],
       'duration_millis': 400567,
       'variants': [{'bitrate': 2176000,
         'content_type': 'video/mp4',
         'url': 'https://video.twimg.com/amplify_video/1356262109223464968/vid/1280x720/oOQwoP8YChJLbtx0.mp4?tag=14'},
        {'content_type': 'application/x-mpegURL',
         'url': 'https://video.twimg.com/amplify_video/1356262109223464968/pl/RelpYNh3WGsxWDmP.m3u8?tag=14'},
        {'bitrate': 832000,
         'content_type': 'video/mp4',
         'url': 'https://video.twimg.com/amplify_video/1356262109223464968/vid/640x360/0cwmNHjU-ZKlOYXk.mp4?tag=14'},
        {'bitrate': 288000,
         'content_type': 'video/mp4',
         'url': 'https://video.twimg.com/amplify_video/1356262109223464968/vid/480x270/TSNP8hYj-9EaBd5y.mp4?tag=14'}]},
      'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
       'medium': {'w': 1200, 'h': 675, 'resize': 'fit'},
       'small': {'w': 680, 'h': 383, 'resize': 'fit'},
       'large': {'w': 1280, 'h': 720, 'resize': 'fit'}}}]}},
  'quote_count': 42,
  'reply_count': 148,
  'retweet_count': 869,
  'favorite_count': 2446,
  'entities': {'hashtags': [],
   'urls': [{'url': 'https://t.co/dihugwtBsQ',
     'expanded_url': 'https://twitter.com/i/web/status/1356266471509417990',
     'display_url': 'twitter.com/i/web/status/1â€¦',
     'indices': [117, 140]}],
   'user_mentions': [],
   'symbols': []},
  'favorited': False,
  'retweeted': False,
  'possibly_sensitive': False,
  'filter_level': 'low',
  'lang': 'en'},
 'is_quote_status': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [],
  'urls': [],
  'user_mentions': [{'screen_name': 'TrumpWarRoom',
    'name': 'Trump War Room',
    'id': 1108472017144201216,
    'id_str': '1108472017144201216',
    'indices': [3, 16]}],
  'symbols': []},
 'favorited': False,
 'retweeted': False,
 'filter_level': 'low',
 'lang': 'en',
 'timestamp_ms': '1612202370763'}

In [14]:
firsttweet.keys()

dict_keys(['created_at', 'id', 'id_str', 'text', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'retweeted_status', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'])

In [15]:
list(firsttweet.items())

[('created_at', 'Mon Feb 01 17:59:30 +0000 2021'),
 ('id', 1356301162958479367),
 ('id_str', '1356301162958479367'),
 ('text',
  'RT @TrumpWarRoom: Former solicitor general of the United States Ken Starr highlights why Democrats canâ€™t  impeach former President Trump.â€¦'),
 ('source',
  '<a href="http://twitter.com/download/android" rel="nofollow">Twitter for Android</a>'),
 ('truncated', False),
 ('in_reply_to_status_id', None),
 ('in_reply_to_status_id_str', None),
 ('in_reply_to_user_id', None),
 ('in_reply_to_user_id_str', None),
 ('in_reply_to_screen_name', None),
 ('user',
  {'id': 395491775,
   'id_str': '395491775',
   'name': 'P. L.',
   'screen_name': 'PL14',
   'location': 'USA',
   'url': None,
   'description': 'I want the world to be better. I will retweet news updates, comments or positive images that are important. No DMs plz but thanks for all follows!',
   'translator_type': 'none',
   'protected': False,
   'verified': False,
   'followers_count': 1482,
   'friends_count': 3001,
   'listed_count': 193,
   'favourites_count': 52586,
   'statuses_count': 322278,
   'created_at': 'Fri Oct 21 19:01:11 +0000 2011',
   'utc_offset': None,
   'time_zone': None,
   'geo_enabled': False,
   'lang': None,
   'contributors_enabled': False,
   'is_translator': False,
   'profile_background_color': 'EDECE9',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme3/bg.gif',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme3/bg.gif',
   'profile_background_tile': False,
   'profile_link_color': '088253',
   'profile_sidebar_border_color': 'D3D2CF',
   'profile_sidebar_fill_color': 'E3E2DE',
   'profile_text_color': '634047',
   'profile_use_background_image': True,
   'profile_image_url': 'http://pbs.twimg.com/profile_images/485086797009932289/Lgup3wBz_normal.jpeg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/485086797009932289/Lgup3wBz_normal.jpeg',
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/395491775/1400242665',
   'default_profile': False,
   'default_profile_image': False,
   'following': None,
   'follow_request_sent': None,
   'notifications': None}),
 ('geo', None),
 ('coordinates', None),
 ('place', None),
 ('contributors', None),
 ('retweeted_status',
  {'created_at': 'Mon Feb 01 15:41:39 +0000 2021',
   'id': 1356266471509417990,
   'id_str': '1356266471509417990',
   'text': 'Former solicitor general of the United States Ken Starr highlights why Democrats canâ€™t  impeach former President Trâ€¦ https://t.co/dihugwtBsQ',
   'display_text_range': [0, 140],
   'source': '<a href="https://studio.twitter.com" rel="nofollow">Twitter Media Studio</a>',
   'truncated': True,
   'in_reply_to_status_id': None,
   'in_reply_to_status_id_str': None,
   'in_reply_to_user_id': None,
   'in_reply_to_user_id_str': None,
   'in_reply_to_screen_name': None,
   'user': {'id': 1108472017144201216,
    'id_str': '1108472017144201216',
    'name': 'Trump War Room',
    'screen_name': 'TrumpWarRoom',
    'location': 'MAGA Country',
    'url': 'https://www.donaldjtrump.com/',
    'description': 'This account punches back 10x harder. Managed by Save America ðŸ‡ºðŸ‡¸',
    'translator_type': 'none',
    'protected': False,
    'verified': True,
    'followers_count': 1262525,
    'friends_count': 269,
    'listed_count': 3461,
    'favourites_count': 99,
    'statuses_count': 27204,
    'created_at': 'Wed Mar 20 20:54:58 +0000 2019',
    'utc_offset': None,
    'time_zone': None,
    'geo_enabled': False,
    'lang': None,
    'contributors_enabled': False,
    'is_translator': False,
    'profile_background_color': '000000',
    'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
    'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
    'profile_background_tile': False,
    'profile_link_color': 'ABB8C2',
    'profile_sidebar_border_color': '000000',
    'profile_sidebar_fill_color': '000000',
    'profile_text_color': '000000',
    'profile_use_background_image': False,
    'profile_image_url': 'http://pbs.twimg.com/profile_images/1109170568950095879/Q5nCWHLB_normal.png',
    'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1109170568950095879/Q5nCWHLB_normal.png',
    'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1108472017144201216/1611158416',
    'default_profile': False,
    'default_profile_image': False,
    'following': None,
    'follow_request_sent': None,
    'notifications': None},
   'geo': None,
   'coordinates': None,
   'place': None,
   'contributors': None,
   'is_quote_status': False,
   'extended_tweet': {'full_text': 'Former solicitor general of the United States Ken Starr highlights why Democrats canâ€™t  impeach former President Trump.\n\n"The Senate is utterly without jurisdiction to try Donald Trump." https://t.co/plxF0k7Pqs',
    'display_text_range': [0, 186],
    'entities': {'hashtags': [],
     'urls': [],
     'user_mentions': [],
     'symbols': [],
     'media': [{'id': 1356262109223464968,
       'id_str': '1356262109223464968',
       'indices': [187, 210],
       'additional_media_info': {'title': 'Ken Starr highlights why Democrats canâ€™t impeach Donald Trump',
        'description': 'Former solicitor general of the United States Ken Starr highlights why Democrats canâ€™t  impeach former President Trump:\n \n"The Senate is utterly without jurisdiction to try Donald Trump."',
        'embeddable': True,
        'monetizable': False},
       'media_url': 'http://pbs.twimg.com/amplify_video_thumb/1356262109223464968/img/cddnjs9sflXUwEVD.jpg',
       'media_url_https': 'https://pbs.twimg.com/amplify_video_thumb/1356262109223464968/img/cddnjs9sflXUwEVD.jpg',
       'url': 'https://t.co/plxF0k7Pqs',
       'display_url': 'pic.twitter.com/plxF0k7Pqs',
       'expanded_url': 'https://twitter.com/TrumpWarRoom/status/1356266471509417990/video/1',
       'type': 'video',
       'video_info': {'aspect_ratio': [16, 9],
        'duration_millis': 400567,
        'variants': [{'bitrate': 2176000,
          'content_type': 'video/mp4',
          'url': 'https://video.twimg.com/amplify_video/1356262109223464968/vid/1280x720/oOQwoP8YChJLbtx0.mp4?tag=14'},
         {'content_type': 'application/x-mpegURL',
          'url': 'https://video.twimg.com/amplify_video/1356262109223464968/pl/RelpYNh3WGsxWDmP.m3u8?tag=14'},
         {'bitrate': 832000,
          'content_type': 'video/mp4',
          'url': 'https://video.twimg.com/amplify_video/1356262109223464968/vid/640x360/0cwmNHjU-ZKlOYXk.mp4?tag=14'},
         {'bitrate': 288000,
          'content_type': 'video/mp4',
          'url': 'https://video.twimg.com/amplify_video/1356262109223464968/vid/480x270/TSNP8hYj-9EaBd5y.mp4?tag=14'}]},
       'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
        'medium': {'w': 1200, 'h': 675, 'resize': 'fit'},
        'small': {'w': 680, 'h': 383, 'resize': 'fit'},
        'large': {'w': 1280, 'h': 720, 'resize': 'fit'}}}]},
    'extended_entities': {'media': [{'id': 1356262109223464968,
       'id_str': '1356262109223464968',
       'indices': [187, 210],
       'additional_media_info': {'title': 'Ken Starr highlights why Democrats canâ€™t impeach Donald Trump',
        'description': 'Former solicitor general of the United States Ken Starr highlights why Democrats canâ€™t  impeach former President Trump:\n \n"The Senate is utterly without jurisdiction to try Donald Trump."',
        'embeddable': True,
        'monetizable': False},
       'media_url': 'http://pbs.twimg.com/amplify_video_thumb/1356262109223464968/img/cddnjs9sflXUwEVD.jpg',
       'media_url_https': 'https://pbs.twimg.com/amplify_video_thumb/1356262109223464968/img/cddnjs9sflXUwEVD.jpg',
       'url': 'https://t.co/plxF0k7Pqs',
       'display_url': 'pic.twitter.com/plxF0k7Pqs',
       'expanded_url': 'https://twitter.com/TrumpWarRoom/status/1356266471509417990/video/1',
       'type': 'video',
       'video_info': {'aspect_ratio': [16, 9],
        'duration_millis': 400567,
        'variants': [{'bitrate': 2176000,
          'content_type': 'video/mp4',
          'url': 'https://video.twimg.com/amplify_video/1356262109223464968/vid/1280x720/oOQwoP8YChJLbtx0.mp4?tag=14'},
         {'content_type': 'application/x-mpegURL',
          'url': 'https://video.twimg.com/amplify_video/1356262109223464968/pl/RelpYNh3WGsxWDmP.m3u8?tag=14'},
         {'bitrate': 832000,
          'content_type': 'video/mp4',
          'url': 'https://video.twimg.com/amplify_video/1356262109223464968/vid/640x360/0cwmNHjU-ZKlOYXk.mp4?tag=14'},
         {'bitrate': 288000,
          'content_type': 'video/mp4',
          'url': 'https://video.twimg.com/amplify_video/1356262109223464968/vid/480x270/TSNP8hYj-9EaBd5y.mp4?tag=14'}]},
       'sizes': {'thumb': {'w': 150, 'h': 150, 'resize': 'crop'},
        'medium': {'w': 1200, 'h': 675, 'resize': 'fit'},
        'small': {'w': 680, 'h': 383, 'resize': 'fit'},
        'large': {'w': 1280, 'h': 720, 'resize': 'fit'}}}]}},
   'quote_count': 42,
   'reply_count': 148,
   'retweet_count': 869,
   'favorite_count': 2446,
   'entities': {'hashtags': [],
    'urls': [{'url': 'https://t.co/dihugwtBsQ',
      'expanded_url': 'https://twitter.com/i/web/status/1356266471509417990',
      'display_url': 'twitter.com/i/web/status/1â€¦',
      'indices': [117, 140]}],
    'user_mentions': [],
    'symbols': []},
   'favorited': False,
   'retweeted': False,
   'possibly_sensitive': False,
   'filter_level': 'low',
   'lang': 'en'}),
 ('is_quote_status', False),
 ('quote_count', 0),
 ('reply_count', 0),
 ('retweet_count', 0),
 ('favorite_count', 0),
 ('entities',
  {'hashtags': [],
   'urls': [],
   'user_mentions': [{'screen_name': 'TrumpWarRoom',
     'name': 'Trump War Room',
     'id': 1108472017144201216,
     'id_str': '1108472017144201216',
     'indices': [3, 16]}],
   'symbols': []}),
 ('favorited', False),
 ('retweeted', False),
 ('filter_level', 'low'),
 ('lang', 'en'),
 ('timestamp_ms', '1612202370763')]

# Transformar os tweets em uma estrutura analisÃ¡vel

In [16]:
import pandas as pd

In [17]:
teste = pd.DataFrame(firsttweet)
teste
#Esse nÃ£o funciona

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,quote_count,reply_count,retweet_count,favorite_count,entities,favorited,retweeted,filter_level,lang,timestamp_ms
id,Mon Feb 01 17:59:30 +0000 2021,1356301162958479367,1356301162958479367,RT @TrumpWarRoom: Former solicitor general of ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1612202370763
id_str,Mon Feb 01 17:59:30 +0000 2021,1356301162958479367,1356301162958479367,RT @TrumpWarRoom: Former solicitor general of ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1612202370763
name,Mon Feb 01 17:59:30 +0000 2021,1356301162958479367,1356301162958479367,RT @TrumpWarRoom: Former solicitor general of ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1612202370763
screen_name,Mon Feb 01 17:59:30 +0000 2021,1356301162958479367,1356301162958479367,RT @TrumpWarRoom: Former solicitor general of ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1612202370763
location,Mon Feb 01 17:59:30 +0000 2021,1356301162958479367,1356301162958479367,RT @TrumpWarRoom: Former solicitor general of ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1612202370763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
filter_level,Mon Feb 01 17:59:30 +0000 2021,1356301162958479367,1356301162958479367,RT @TrumpWarRoom: Former solicitor general of ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,NaN,False,False,low,en,1612202370763
hashtags,Mon Feb 01 17:59:30 +0000 2021,1356301162958479367,1356301162958479367,RT @TrumpWarRoom: Former solicitor general of ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,[],False,False,low,en,1612202370763
urls,Mon Feb 01 17:59:30 +0000 2021,1356301162958479367,1356301162958479367,RT @TrumpWarRoom: Former solicitor general of ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,[],False,False,low,en,1612202370763
user_mentions,Mon Feb 01 17:59:30 +0000 2021,1356301162958479367,1356301162958479367,RT @TrumpWarRoom: Former solicitor general of ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,"[{'screen_name': 'TrumpWarRoom', 'name': 'Trum...",False,False,low,en,1612202370763
symbols,Mon Feb 01 17:59:30 +0000 2021,1356301162958479367,1356301162958479367,RT @TrumpWarRoom: Former solicitor general of ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,0,0,0,0,[],False,False,low,en,1612202370763

In [18]:
teste.columns

Index(['created_at', 'id', 'id_str', 'text', 'source', 'truncated',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'retweeted_status', 'is_quote_status', 'quote_count',
       'reply_count', 'retweet_count', 'favorite_count', 'entities',
       'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'],
      dtype='object')

In [19]:
df_tratado = pd.DataFrame(firsttweet).reset_index(drop=True).iloc[:1]
len(df_tratado.columns)

28

In [20]:
df_tratado.columns

Index(['created_at', 'id', 'id_str', 'text', 'source', 'truncated',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place',
       'contributors', 'retweeted_status', 'is_quote_status', 'quote_count',
       'reply_count', 'retweet_count', 'favorite_count', 'entities',
       'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'],
      dtype='object')

In [21]:
df_tratado.drop(columns=['is_quote_status','quote_count','reply_count','retweet_count','favorite_count','favorited',
                         'retweeted','user','entities','retweeted_status'], inplace=True, errors='ignore')

In [22]:
df_tratado.columns

Index(['created_at', 'id', 'id_str', 'text', 'source', 'truncated',
       'in_reply_to_status_id', 'in_reply_to_status_id_str',
       'in_reply_to_user_id', 'in_reply_to_user_id_str',
       'in_reply_to_screen_name', 'geo', 'coordinates', 'place',
       'contributors', 'filter_level', 'lang', 'timestamp_ms'],
      dtype='object')

In [23]:
display(df_tratado)

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,in_reply_to_screen_name,geo,coordinates,place,contributors,filter_level,lang,timestamp_ms
0,Mon Feb 01 17:59:30 +0000 2021,1356301162958479367,1356301162958479367,RT @TrumpWarRoom: Former solicitor general of ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,None,None,None,None,None,low,en,1612202370763

In [24]:
parsed_tweets[8]['entities']['user_mentions']

[{'screen_name': 'TrumpWarRoom',
  'name': 'Trump War Room',
  'id': 1108472017144201216,
  'id_str': '1108472017144201216',
  'indices': [3, 16]}]

In [25]:
df_tratado['user_id'] = firsttweet['user']['id']
df_tratado['user_id_str'] = firsttweet['user']["id_str"]
df_tratado['user_screen_name'] = firsttweet['user']["screen_name"]
df_tratado['user_location'] = firsttweet['user']["location"]
df_tratado['user_description'] = firsttweet['user']["description"]
df_tratado['user_protected'] = firsttweet['user']["protected"]
df_tratado['user_verified'] = firsttweet['user']["verified"]
df_tratado['user_followers_count'] = firsttweet['user']["followers_count"]
df_tratado['user_friends_count'] = firsttweet['user']["friends_count"]
df_tratado['user_created_at'] = firsttweet['user']["created_at"]

In [26]:
df_tratado

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_id,user_id_str,user_screen_name,user_location,user_description,user_protected,user_verified,user_followers_count,user_friends_count,user_created_at
0,Mon Feb 01 17:59:30 +0000 2021,1356301162958479367,1356301162958479367,RT @TrumpWarRoom: Former solicitor general of ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,395491775,395491775,PL14,USA,I want the world to be better. I will retweet ...,False,False,1482,3001,Fri Oct 21 19:01:11 +0000 2011

In [27]:
# Entidades
firsttweet['entities']

{'hashtags': [],
 'urls': [],
 'user_mentions': [{'screen_name': 'TrumpWarRoom',
   'name': 'Trump War Room',
   'id': 1108472017144201216,
   'id_str': '1108472017144201216',
   'indices': [3, 16]}],
 'symbols': []}

In [28]:
# user_mentions 
user_mentions = [] 

for i in range(len(firsttweet['entities']['user_mentions'])):
    dicionariobase = firsttweet['entities']['user_mentions'][i].copy()
    dicionariobase.pop('indices', None)
    df = pd.DataFrame(dicionariobase, index=[0])
    df = df.rename(columns={
        'screen_name' : 'entities_screen_name',
        'name' : 'entities_name',
        'id' : 'entities_id',
        'id_str' : 'entities_id_str'
    })
    user_mentions.append(df)
    
display(user_mentions)

[  entities_screen_name   entities_name          entities_id  \
 0         TrumpWarRoom  Trump War Room  1108472017144201216

        entities_id_str
 0  1108472017144201216  ]

In [29]:
user_mentions

[  entities_screen_name   entities_name          entities_id  \
 0         TrumpWarRoom  Trump War Room  1108472017144201216

        entities_id_str
 0  1108472017144201216  ]

In [30]:
dfs = []
for i in user_mentions:
    dfs.append(
        pd.concat([df_tratado.copy(),i], axis=1)
    )

In [31]:
pd.concat(dfs, ignore_index=True)

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_description,user_protected,user_verified,user_followers_count,user_friends_count,user_created_at,entities_screen_name,entities_name,entities_id,entities_id_str
0,Mon Feb 01 17:59:30 +0000 2021,1356301162958479367,1356301162958479367,RT @TrumpWarRoom: Former solicitor general of ...,"<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,I want the world to be better. I will retweet ...,False,False,1482,3001,Fri Oct 21 19:01:11 +0000 2011,TrumpWarRoom,Trump War Room,1108472017144201216,1108472017144201216

In [32]:
parsed_tweets[3]['entities']

{'hashtags': [],
 'urls': [{'url': 'https://t.co/jJVPAREyKe',
   'expanded_url': 'https://twitter.com/i/web/status/1356301162706825218',
   'display_url': 'twitter.com/i/web/status/1â€¦',
   'indices': [112, 135]}],
 'user_mentions': [{'screen_name': 'JimVandeHei',
   'name': 'Jim VandeHei',
   'id': 244212645,
   'id_str': '244212645',
   'indices': [0, 12]},
  {'screen_name': 'MarkLandler',
   'name': 'Mark Landler',
   'id': 120233868,
   'id_str': '120233868',
   'indices': [13, 25]},
  {'screen_name': 'katierogers',
   'name': 'Katie Rogers',
   'id': 14116915,
   'id_str': '14116915',
   'indices': [26, 38]},
  {'screen_name': 'patrickhealynyt',
   'name': 'Patrick Healy',
   'id': 139870125,
   'id_str': '139870125',
   'indices': [39, 55]},
  {'screen_name': 'JonLemire',
   'name': 'Jonathan Lemire',
   'id': 182398325,
   'id_str': '182398325',
   'indices': [56, 66]},
  {'screen_name': 'shearm',
   'name': 'Michael D. Shear',
   'id': 14552725,
   'id_str': '14552725',
   'indices': [67, 74]},
  {'screen_name': 'michelleinbklyn',
   'name': 'Michelle Goldberg',
   'id': 212657985,
   'id_str': '212657985',
   'indices': [75, 91]},
  {'screen_name': 'SherylNYT',
   'name': 'Sheryl Gay Stolberg',
   'id': 95270375,
   'id_str': '95270375',
   'indices': [92, 102]},
  {'screen_name': 'gelles',
   'name': 'David P Gelles',
   'id': 14075981,
   'id_str': '14075981',
   'indices': [103, 110]}],
 'symbols': []}

Vamos criar uma funÃ§Ã£o que faz todo o tratamento do tweet e converte para um dataframe pandas

In [33]:
def tweet_para_df(tweet):
    try:
        #pegar o tweet 
        df_tratado = pd.DataFrame(tweet).reset_index(drop=True).iloc[:1]
        #dropar as colunas que nÃ£o precisamos
        df_tratado.drop(columns=['is_quote_status','quote_count','reply_count','retweet_count','favorite_count','favorited',
                             'retweeted','user','entities', 'retweeted_status', 'self'
                                ], inplace=True,errors='ignore')
        #inplace troca o df_tratado, nÃ£o precisando passar df_trata = df_tratado.drop....
        #acrescentar variÃ¡veis do usuÃ¡rio do tweet, isso estava num array interno
        df_tratado['user_id'] = tweet['user']['id']
        df_tratado['user_id_str'] = tweet['user']["id_str"]
        df_tratado['user_screen_name'] = tweet['user']["screen_name"]
        df_tratado['user_location'] = tweet['user']["location"]
        df_tratado['user_description'] = tweet['user']["description"]
        df_tratado['user_protected'] = tweet['user']["protected"]
        df_tratado['user_verified'] = tweet['user']["verified"]
        df_tratado['user_followers_count'] = tweet['user']["followers_count"]
        df_tratado['user_friends_count'] = tweet['user']["friends_count"]
        df_tratado['user_created_at'] = tweet['user']["created_at"]
        #Acrescentar os usuÃ¡rios mencionados, df intermediÃ¡rio, para jogar no principal
        user_mentions = []

        for i in range(len(tweet['entities']['user_mentions'])):
            dicionariobase = tweet['entities']['user_mentions'][i].copy()
            dicionariobase.pop('indices', None)
            df = pd.DataFrame(dicionariobase, index=[0])
            df = df.rename(columns={
                'screen_name' : 'entities_screen_name',
                'name' : 'entities_name',
                'id' : 'entities_id',
                'id_str' : 'entities_id_str'
            })
            user_mentions.append(df)

        #juntar o df intermediÃ¡rio com o df tratado
        dfs = []
        for i in user_mentions:
            dfs.append(
                pd.concat([df_tratado.copy(),i], axis=1)
            )    
        df_final = pd.concat(dfs, ignore_index=True)
    except:
        return None
    return df_final

In [34]:
display(tweet_para_df(parsed_tweets[5]))

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_description,user_protected,user_verified,user_followers_count,user_friends_count,user_created_at,entities_screen_name,entities_name,entities_id,entities_id_str
0,Mon Feb 01 17:59:30 +0000 2021,1356301162945912832,1356301162945912832,RT @B52Malmet: Donald Trump is a crime against...,"<a href=""http://twitter.com/#!/download/ipad"" ...",False,None,None,None,None,...,"New democrat, advocate of environmental & glob...",False,False,3859,3877,Wed May 30 20:07:54 +0000 2018,B52Malmet,Barbara Malmet,2876041031,2876041031

In [35]:
%%time
#sÃ³ em jupyter %%time
# Vamos iterar e transformar todos os tweets
parseados = [tweet_para_df(tweet) for tweet in parsed_tweets if tweet is not None]

CPU times: user 2.66 s, sys: 2.16 s, total: 4.82 s
Wall time: 5.59 s

In [36]:
# Eliminar as posiÃ§Ãµes vazias da lista

#parseados = [i for i in parseados if i is not None]

In [37]:
t = pd.concat(parseados,ignore_index=True)
t

,created_at,id,id_str,text,source,truncated,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,...,user_created_at,entities_screen_name,entities_name,entities_id,entities_id_str,quoted_status_id,quoted_status_id_str,quoted_status,quoted_status_permalink,extended_tweet
0,Mon Feb 01 17:59:30 +0000 2021,1356301162492919814,1356301162492919814,"RT @OANN: MSNBC condemns â€˜violenceâ€™, but urges...","<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,Sat Aug 01 14:45:59 +0000 2020,OANN,One America News,1209936918,1209936918,NaN,NaN,NaN,NaN,NaN
1,Mon Feb 01 17:59:30 +0000 2021,1356301162585194496,1356301162585194496,"RT @johncardillo: According to the FEC, @Proje...","<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,Tue Apr 10 19:52:06 +0000 2012,johncardillo,John Cardillo,27995424,27995424,NaN,NaN,NaN,NaN,NaN
2,Mon Feb 01 17:59:30 +0000 2021,1356301162585194496,1356301162585194496,"RT @johncardillo: According to the FEC, @Proje...","<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,Tue Apr 10 19:52:06 +0000 2012,ProjectLincoln,The Lincoln Project,1205226529455632385,1205226529455632385,NaN,NaN,NaN,NaN,NaN
3,Mon Feb 01 17:59:30 +0000 2021,1356301162585194496,1356301162585194496,"RT @johncardillo: According to the FEC, @Proje...","<a href=""http://twitter.com/download/android"" ...",False,None,None,None,None,...,Tue Apr 10 19:52:06 +0000 2012,JoeBiden,Joe Biden,939091,939091,NaN,NaN,NaN,NaN,NaN
4,Mon Feb 01 17:59:30 +0000 2021,1356301162601873408,1356301162601873408,RT @proudCanadavet: Bloomberg: Michael Cohen o...,"<a href=""https://mobile.twitter.com"" rel=""nofo...",False,None,None,None,None,...,Sat Aug 15 18:01:26 +0000 2009,proudCanadavet,brian o,765296237331357696,765296237331357696,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,Mon Feb 01 17:59:44 +0000 2021,1356301222421135364,1356301222421135364,RT @AryaStark_VE: @Samara_0505 @Liz_SalanderUS...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,Wed Apr 13 23:16:27 +0000 2016,JohsieC,Johsie Cruz for US Congress.,1203990155578761216,1203990155578761216,NaN,NaN,NaN,NaN,NaN
340,Mon Feb 01 17:59:44 +0000 2021,1356301222421135364,1356301222421135364,RT @AryaStark_VE: @Samara_0505 @Liz_SalanderUS...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,Wed Apr 13 23:16:27 +0000 2016,GladysdelPilarR,â—‡ð“–ð“µð“ªð“­ð”‚ð“¼ð“­ð“µð“Ÿð“²ð“µð“ªð“»â—‡,108960621,108960621,NaN,NaN,NaN,NaN,NaN
341,Mon Feb 01 17:59:44 +0000 2021,1356301222593093635,1356301222593093635,RT @mtgreenee: When will @LeaderHoyer remove @...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,Thu Aug 23 23:44:18 +0000 2012,mtgreenee,Marjorie Taylor Greene ðŸ‡ºðŸ‡¸,826065164504006657,826065164504006657,NaN,NaN,NaN,NaN,NaN
342,Mon Feb 01 17:59:44 +0000 2021,1356301222593093635,1356301222593093635,RT @mtgreenee: When will @LeaderHoyer remove @...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,Thu Aug 23 23:44:18 +0000 2012,LeaderHoyer,Steny (Wear a Mask) Hoyer,22012091,22012091,NaN,NaN,NaN,NaN,NaN
343,Mon Feb 01 17:59:44 +0000 2021,1356301222593093635,1356301222593093635,RT @mtgreenee: When will @LeaderHoyer remove @...,"<a href=""http://twitter.com/download/iphone"" r...",False,None,None,None,None,...,Thu Aug 23 23:44:18 +0000 2012,RepMaxineWaters,Maxine Waters,36686040,36686040,NaN,NaN,NaN,NaN,NaN

## Salvando no sql

In [38]:
import pyodbc
import sqlalchemy

In [60]:
engine = sqlalchemy.create_engine(
    'mssql+pyodbc://SA:Ubuntu@123@127.0.0.1/twitter?driver=ODBC+Driver+17+for+sql+server',
    isolation_level='AUTOCOMMIT'
)

In [65]:
from sqlalchemy_utils import database_exists, create_database

if not database_exists(engine.url):
    create_database(engine.url)

In [66]:
t.to_sql("tweets", con=engine, index=False, if_exists="replace")

## Outros Testes

In [34]:
df1 = pd.DataFrame([[0,1,2,3],[4,5,6,7]], columns=['A','b','C','D'])
df2 = pd.DataFrame([['a','b','c','d','e'],'d e f g h'.split()], columns=['A','b','C','G','H'])
df3 = pd.DataFrame([[8,9,10,11],[12,13,14,15]], columns=['A','b','C','D'])

dfc = pd.concat([df1,df2, df3], ignore_index=True)
dfc

    A   b   C     D    G    H
0   0   1   2   3.0  NaN  NaN
1   4   5   6   7.0  NaN  NaN
2   a   b   c   NaN    d    e
3   d   e   f   NaN    g    h
4   8   9  10  11.0  NaN  NaN
5  12  13  14  15.0  NaN  NaN

In [35]:
%%time

#Como manter colunas especÃ­ficas? df[[arraydascolunasparamanter]]
df = pd.DataFrame({'name':['Daniel', 'Renata', 'Abigail'], 'idade':[27,23,24],'peso':[78,65,58],'sexo':['M','F','F']})
df = df[['name','sexo']]
#df = df.iloc[:,[0,3]] #somente numÃ©ricos, nesse caso, coluna 0=name e 3=sexo
#df = df.filter(items =['name','sexo'])
df = df.loc[:,['name','sexo']]
df.columns
#Outra opÃ§Ã£o Ã© numerar a quantidade: df.iloc[:, 0:2]

#df = df.iloc[:,1:4] # : => seria como de atÃ©. ex.: 1:5, nesse caso pegaria pela pelo index da coluna

CPU times: user 823 Âµs, sys: 6.74 ms, total: 7.57 ms
Wall time: 15 ms

Index(['name', 'sexo'], dtype='object')

In [36]:
df.loc[1:2]

      name sexo
1   Renata    F
2  Abigail    F

In [37]:
#brinks

df1 = pd.DataFrame({'nome':['Daniel', 'Abigail', 'Renata', 'Arthur', 'Catarina'],'idade':[27,24,23,2,3], 'id_cidade':[1,2,1,3,3]})
df2 = pd.DataFrame({'id':[1,2,3],'cidade':['Blumenau','SÃ£o Francisco do Sul','Imbituba']})

pd.concat([df1,df2],ignore_index=True)

       nome  idade  id_cidade   id                cidade
0    Daniel   27.0        1.0  NaN                   NaN
1   Abigail   24.0        2.0  NaN                   NaN
2    Renata   23.0        1.0  NaN                   NaN
3    Arthur    2.0        3.0  NaN                   NaN
4  Catarina    3.0        3.0  NaN                   NaN
5       NaN    NaN        NaN  1.0              Blumenau
6       NaN    NaN        NaN  2.0  SÃ£o Francisco do Sul
7       NaN    NaN        NaN  3.0              Imbituba

In [38]:
pd.merge(df1,df2, left_on='id_cidade', right_on='id')

       nome  idade  id_cidade  id                cidade
0    Daniel     27          1   1              Blumenau
1    Renata     23          1   1              Blumenau
2   Abigail     24          2   2  SÃ£o Francisco do Sul
3    Arthur      2          3   3              Imbituba
4  Catarina      3          3   3              Imbituba

In [39]:
pd.merge(df1,df2, left_on='id_cidade', right_on='id').loc[:,['nome','idade','cidade']]

       nome  idade                cidade
0    Daniel     27              Blumenau
1    Renata     23              Blumenau
2   Abigail     24  SÃ£o Francisco do Sul
3    Arthur      2              Imbituba
4  Catarina      3              Imbituba

In [40]:
pd.merge(df1,df2, left_on='id_cidade', right_on='id').drop(columns=['id','id_cidade'])

       nome  idade                cidade
0    Daniel     27              Blumenau
1    Renata     23              Blumenau
2   Abigail     24  SÃ£o Francisco do Sul
3    Arthur      2              Imbituba
4  Catarina      3              Imbituba