## Importar biblioteca pymongo

In [1]:
#!pip install pymongo
from pymongo import MongoClient

In [2]:
client = MongoClient('mongodb+srv://unicluster.ixhvw.mongodb.net', username="estudante_igti", password="SRwkJTDz2nA28ME9")

In [3]:
client

MongoClient(host=['unicluster-shard-00-00.ixhvw.mongodb.net:27017', 'unicluster-shard-00-01.ixhvw.mongodb.net:27017', 'unicluster-shard-00-02.ixhvw.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-5wtvta-shard-0', ssl=True)

## Verificando conexão existente

In [4]:
db = client.ibge
collection = db.pnadc20203

In [5]:
import pandas as pd

In [6]:
df_init = pd.DataFrame(list(collection.find()))

In [7]:
df_init

,_id,ano,trimestre,uf,sexo,idade,cor,graduacao,trab,ocup,renda,horastrab,anosesco
0,600ce0685daa95c6616007ac,2020,3,Acre,Mulher,62,Parda,None,Pessoas fora da força de trabalho,None,NaN,NaN,0.0
1,600ce0685daa95c6616007ad,2020,3,Acre,Homem,7,Parda,None,None,None,NaN,NaN,1.0
2,600ce0685daa95c6616007ae,2020,3,Acre,Mulher,42,Preta,None,Pessoas na força de trabalho,Pessoas desocupadas,NaN,NaN,12.0
3,600ce0685daa95c6616007af,2020,3,Acre,Homem,47,Preta,None,Pessoas na força de trabalho,Pessoas ocupadas,1000.0,30.0,10.0
4,600ce0685daa95c6616007b0,2020,3,Acre,Homem,11,Preta,None,None,None,NaN,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
368205,600ce06a5daa95c66165a5f9,2020,3,Tocantins,Mulher,63,Branca,None,Pessoas fora da força de trabalho,None,NaN,NaN,12.0
368206,600ce06a5daa95c66165a5fa,2020,3,Tocantins,Homem,46,Parda,None,Pessoas na força de trabalho,Pessoas ocupadas,3000.0,40.0,12.0
368207,600ce06a5daa95c66165a5fb,2020,3,Tocantins,Mulher,44,Parda,None,Pessoas na força de trabalho,Pessoas ocupadas,1500.0,44.0,12.0
368208,600ce06a5daa95c66165a5fc,2020,3,Tocantins,Mulher,27,Parda,None,Pessoas na força de trabalho,Pessoas ocupadas,1045.0,40.0,14.0
368209,600ce06a5daa95c66165a5fd,2020,3,Tocantins,Mulher,19,Parda,Não,Pessoas fora da força de trabalho,None,NaN,NaN,12.0

In [9]:
type(collection)

pymongo.collection.Collection