# Enade - Transformação de Dados - parte 01

In [1]:
# Importar as bibliotecas necessárias
    

import pandas as pd 
import numpy as np
import os

In [2]:
enade = pd.read_csv("enade2019/microdados_enade_2019/2019/3.DADOS/microdados_enade_2019.txt", sep=";", decimal=",")

In [3]:
enade.head()

,NU_ANO,CO_IES,CO_CATEGAD,CO_ORGACAD,CO_GRUPO,CO_CURSO,CO_MODALIDADE,CO_MUNIC_CURSO,CO_UF_CURSO,CO_REGIAO_CURSO,...,QE_I59,QE_I60,QE_I61,QE_I62,QE_I63,QE_I64,QE_I65,QE_I66,QE_I67,QE_I68
0,2019,1,10002,10028,5710,3,1,5103403,51,5,...,2.0,5.0,1.0,1.0,2.0,5.0,8.0,7.0,1.0,2.0
1,2019,1,10002,10028,5710,3,1,5103403,51,5,...,1.0,4.0,2.0,2.0,2.0,5.0,4.0,4.0,2.0,2.0
2,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,4.0,4.0,3.0,3.0,4.0,1.0,1.0,1.0,4.0
3,2019,1,10002,10028,5710,3,1,5103403,51,5,...,3.0,5.0,2.0,2.0,2.0,3.0,3.0,4.0,3.0,3.0
4,2019,1,10002,10028,5710,3,1,5103403,51,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#verificando o schema da tabela
dict(enade.dtypes)

{'NU_ANO': dtype('int64'),
 'CO_IES': dtype('int64'),
 'CO_CATEGAD': dtype('int64'),
 'CO_ORGACAD': dtype('int64'),
 'CO_GRUPO': dtype('int64'),
 'CO_CURSO': dtype('int64'),
 'CO_MODALIDADE': dtype('int64'),
 'CO_MUNIC_CURSO': dtype('int64'),
 'CO_UF_CURSO': dtype('int64'),
 'CO_REGIAO_CURSO': dtype('int64'),
 'NU_IDADE': dtype('int64'),
 'TP_SEXO': dtype('O'),
 'ANO_FIM_EM': dtype('int64'),
 'ANO_IN_GRAD': dtype('float64'),
 'CO_TURNO_GRADUACAO': dtype('float64'),
 'TP_INSCRICAO_ADM': dtype('int64'),
 'TP_INSCRICAO': dtype('int64'),
 'NU_ITEM_OFG': dtype('int64'),
 'NU_ITEM_OFG_Z': dtype('int64'),
 'NU_ITEM_OFG_X': dtype('int64'),
 'NU_ITEM_OFG_N': dtype('int64'),
 'NU_ITEM_OCE': dtype('int64'),
 'NU_ITEM_OCE_Z': dtype('int64'),
 'NU_ITEM_OCE_X': dtype('int64'),
 'NU_ITEM_OCE_N': dtype('int64'),
 'DS_VT_GAB_OFG_ORIG': dtype('O'),
 'DS_VT_GAB_OFG_FIN': dtype('O'),
 'DS_VT_GAB_OCE_ORIG': dtype('O'),
 'DS_VT_GAB_OCE_FIN': dtype('O'),
 'DS_VT_ESC_OFG': dtype('O'),
 'DS_VT_ACE_OFG': dtype('O'),
 'DS_VT_ESC_OCE': dtype('O'),
 'DS_VT_ACE_OCE': dtype('O'),
 'TP_PRES': dtype('int64'),
 'TP_PR_GER': dtype('int64'),
 'TP_PR_OB_FG': dtype('int64'),
 'TP_PR_DI_FG': dtype('int64'),
 'TP_PR_OB_CE': dtype('int64'),
 'TP_PR_DI_CE': dtype('int64'),
 'TP_SFG_D1': dtype('int64'),
 'TP_SFG_D2': dtype('int64'),
 'TP_SCE_D1': dtype('int64'),
 'TP_SCE_D2': dtype('int64'),
 'TP_SCE_D3': dtype('int64'),
 'NT_GER': dtype('float64'),
 'NT_FG': dtype('float64'),
 'NT_OBJ_FG': dtype('float64'),
 'NT_DIS_FG': dtype('float64'),
 'NT_FG_D1': dtype('float64'),
 'NT_FG_D1_PT': dtype('float64'),
 'NT_FG_D1_CT': dtype('float64'),
 'NT_FG_D2': dtype('float64'),
 'NT_FG_D2_PT': dtype('float64'),
 'NT_FG_D2_CT': dtype('float64'),
 'NT_CE': dtype('float64'),
 'NT_OBJ_CE': dtype('float64'),
 'NT_DIS_CE': dtype('float64'),
 'NT_CE_D1': dtype('float64'),
 'NT_CE_D2': dtype('float64'),
 'NT_CE_D3': dtype('float64'),
 'CO_RS_I1': dtype('O'),
 'CO_RS_I2': dtype('O'),
 'CO_RS_I3': dtype('O'),
 'CO_RS_I4': dtype('O'),
 'CO_RS_I5': dtype('O'),
 'CO_RS_I6': dtype('O'),
 'CO_RS_I7': dtype('O'),
 'CO_RS_I8': dtype('O'),
 'CO_RS_I9': dtype('O'),
 'QE_I01': dtype('O'),
 'QE_I02': dtype('O'),
 'QE_I03': dtype('O'),
 'QE_I04': dtype('O'),
 'QE_I05': dtype('O'),
 'QE_I06': dtype('O'),
 'QE_I07': dtype('O'),
 'QE_I08': dtype('O'),
 'QE_I09': dtype('O'),
 'QE_I10': dtype('O'),
 'QE_I11': dtype('O'),
 'QE_I12': dtype('O'),
 'QE_I13': dtype('O'),
 'QE_I14': dtype('O'),
 'QE_I15': dtype('O'),
 'QE_I16': dtype('float64'),
 'QE_I17': dtype('O'),
 'QE_I18': dtype('O'),
 'QE_I19': dtype('O'),
 'QE_I20': dtype('O'),
 'QE_I21': dtype('O'),
 'QE_I22': dtype('O'),
 'QE_I23': dtype('O'),
 'QE_I24': dtype('O'),
 'QE_I25': dtype('O'),
 'QE_I26': dtype('O'),
 'QE_I27': dtype('float64'),
 'QE_I28': dtype('float64'),
 'QE_I29': dtype('float64'),
 'QE_I30': dtype('float64'),
 'QE_I31': dtype('float64'),
 'QE_I32': dtype('float64'),
 'QE_I33': dtype('float64'),
 'QE_I34': dtype('float64'),
 'QE_I35': dtype('float64'),
 'QE_I36': dtype('float64'),
 'QE_I37': dtype('float64'),
 'QE_I38': dtype('float64'),
 'QE_I39': dtype('float64'),
 'QE_I40': dtype('float64'),
 'QE_I41': dtype('float64'),
 'QE_I42': dtype('float64'),
 'QE_I43': dtype('float64'),
 'QE_I44': dtype('float64'),
 'QE_I45': dtype('float64'),
 'QE_I46': dtype('float64'),
 'QE_I47': dtype('float64'),
 'QE_I48': dtype('float64'),
 'QE_I49': dtype('float64'),
 'QE_I50': dtype('float64'),
 'QE_I51': dtype('float64'),
 'QE_I52': dtype('float64'),
 'QE_I53': dtype('float64'),
 'QE_I54': dtype('float64'),
 'QE_I55': dtype('float64'),
 'QE_I56': dtype('float64'),
 'QE_I57': dtype('float64'),
 'QE_I58': dtype('float64'),
 'QE_I59': dtype('float64'),
 'QE_I60': dtype('float64'),
 'QE_I61': dtype('float64'),
 'QE_I62': dtype('float64'),
 'QE_I63': dtype('float64'),
 'QE_I64': dtype('float64'),
 'QE_I65': dtype('float64'),
 'QE_I66': dtype('float64'),
 'QE_I67': dtype('float64'),
 'QE_I68': dtype('float64')}

- Co_IES - instituição de ensino
- Co_CATEGAD - categoria administrativa
- CO_GRUPO - grupo do curso
- Co_MODALIDADE - presencial ou ead
- CO_UF_CURSO
- CO_REGIAO_CURSO
- NU_IDADE
- TP_SEXO
- NT_GER
- NT_FG
- NT_CE

Mais alguns itens do questionário do estudante
- 01: Estado Civil
- 02: Cor ou raça
- 04: Escolaridade do pai
- 05: Escolaridade da mãe
- 08: Rena Familiar
- 10: Situação de trabalho
- 11: Situação de bolsa
- 14: Intercâmbio
- 15: Cotas
- 23: Horas de estudo por semana
- 25: Motivo de escolha do curso
- 26: Motivo de escolha da IES

In [5]:
# NT_GER
enade.NT_GER.describe()

count    390091.000000
mean         44.076610
std          14.542059
min           0.000000
25%          33.200000
50%          43.800000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [6]:
# Contar o número de nulos
enade.NT_GER.isnull().sum()

43839

In [7]:
# Quantidade relativa de nulos
enade.NT_GER.isnull().sum() / enade.shape[0]

0.10102781554628627

In [8]:
# Nordeste - 2 - Acessando estatísticas descritivas da NOTA GERAL apenas para os alunos da Região nordeste
enade.loc[
    enade.CO_REGIAO_CURSO == 2
].NT_GER.describe()

count    82944.000000
mean        43.788555
std         14.622670
min          0.000000
25%         32.800000
50%         43.400000
75%         54.600000
max         91.600000
Name: NT_GER, dtype: float64

In [9]:
enade.loc[
    enade.NT_GER > 0
].NT_GER.describe()

count    389730.000000
mean         44.117437
std          14.486758
min           0.300000
25%          33.300000
50%          43.800000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [10]:
#Filtrando apenas aluno entre 20 e 50 anos
enade.loc[
    (enade.NU_IDADE >= 20) & (enade.NU_IDADE <=50)
].NT_GER.describe()

count    385913.000000
mean         44.149504
std          14.528106
min           0.000000
25%          33.300000
50%          43.900000
75%          54.800000
max          93.000000
Name: NT_GER, dtype: float64

In [11]:
#Tabela cruzada
# Contar quantos homens e mulheres
enade.TP_SEXO.value_counts() / enade.shape[0]

F    0.537596
M    0.462404
Name: TP_SEXO, dtype: float64

In [12]:
# Quero comparar as regiões e vamos agregar utilizando uma média

enade[['NT_GER', 'NT_FG', 'NT_CE']].describe()

              NT_GER          NT_FG          NT_CE
count  390091.000000  390091.000000  390091.000000
mean       44.076610      39.837949      45.472874
std        14.542059      16.241178      16.641654
min         0.000000       0.000000       0.000000
25%        33.200000      28.500000      32.900000
50%        43.800000      39.300000      45.200000
75%        54.800000      51.300000      57.800000
max        93.000000      97.800000     100.000000

In [13]:
#Vamos comparar médias de notas para cada região do brasil
enade.groupby('CO_REGIAO_CURSO').agg({
    "NT_GER": "mean",
    "NT_FG": "mean",
    "NT_CE": "mean"
})

                    NT_GER      NT_FG      NT_CE
CO_REGIAO_CURSO
1                40.282753  37.119037  41.320522
2                43.788555  40.057649  45.015455
3                44.016319  40.144793  45.290297
4                45.747187  40.082428  47.618845
5                44.604609  39.180022  46.396032

# Transformações

- Co_IES - instituição de ensino
- Co_CATEGAD - categoria administrativa
- CO_GRUPO - grupo do curso
- Co_MODALIDADE - presencial ou ead
- CO_UF_CURSO
- CO_REGIAO_CURSO
- NU_IDADE
- TP_SEXO
- NT_GER
- NT_FG
- NT_CE

In [14]:
enade['DESC_PUBLICA'] = ""
enade.loc[
    enade.CO_CATEGAD.isin([118,120,121,10005,10006,10007,10008,10009,17634]),
    "DESC_PUBLICA"    
] = "Privado"

In [15]:
enade['DESC_PUBLICA'] = ""
enade.loc[
    enade.CO_CATEGAD.isin([118,120,121,10005,10006,10007,10008,10009,17634]),
    "DESC_PUBLICA"    
] = "Publico"

In [16]:
enade.DESC_PUBLICA.value_counts() / enade.shape[0]

Publico    0.767126
           0.232874
Name: DESC_PUBLICA, dtype: float64

In [17]:
# Transformar a modalidade, atribuindo valor a uma coluna existente.
enade["CO_MODALIDADE"] = enade.CO_MODALIDADE.replace({
    0: "EaD",
    1: "Presencial"
})

In [18]:
enade.CO_MODALIDADE.value_counts()

Presencial    410542
EaD            23388
Name: CO_MODALIDADE, dtype: int64

In [19]:
enade["CO_REGIAO_CURSO"] = enade.CO_REGIAO_CURSO.replace({
    1: "Norte",
    2: "Nordeste",
    3: "Sul",
    4: "Sul",
    5: "Centro-Oeste"
})

In [20]:
enade.CO_REGIAO_CURSO.value_counts()

Sul             279293
Nordeste         91742
Centro-Oeste     34192
Norte            28703
Name: CO_REGIAO_CURSO, dtype: int64

In [21]:
# Transformando Cor Raça

enade["DESC_COR"] = enade.QE_I02.replace({
    "A": "Branca",
    "B": "Preta",
    "C": "Amarela",
    "D": "Parda",
    "E": "Indígena",
    "F": pd.NA,
    " ": pd.NA
})

In [22]:
dict(enade.DESC_COR.value_counts())

{'Branca': 220386,
 'Parda': 135770,
 'Preta': 32869,
 'Amarela': 10093,
 'Indígena': 1300}

# Algumas perguntas para responder

1. Qual é a nota geral média dos alunos da região Nordeste?

In [23]:
enade.loc[
    enade.CO_REGIAO_CURSO == "Nordeste", "NT_GER"
].mean()

43.78855492862657

2. Qual é a média da nota do componente específico do alunos do RS de cursos de engenharia elétrica

In [25]:
dict(enade.CO_UF_CURSO)

{0: 51,
 1: 51,
 2: 51,
 3: 51,
 4: 51,
 5: 51,
 6: 51,
 7: 51,
 8: 51,
 9: 51,
 10: 51,
 11: 51,
 12: 51,
 13: 51,
 14: 51,
 15: 51,
 16: 51,
 17: 51,
 18: 51,
 19: 51,
 20: 51,
 21: 51,
 22: 51,
 23: 51,
 24: 51,
 25: 51,
 26: 51,
 27: 51,
 28: 51,
 29: 51,
 30: 51,
 31: 51,
 32: 51,
 33: 51,
 34: 51,
 35: 51,
 36: 51,
 37: 51,
 38: 51,
 39: 51,
 40: 51,
 41: 51,
 42: 51,
 43: 51,
 44: 51,
 45: 51,
 46: 51,
 47: 51,
 48: 51,
 49: 51,
 50: 51,
 51: 51,
 52: 51,
 53: 51,
 54: 51,
 55: 51,
 56: 51,
 57: 51,
 58: 51,
 59: 51,
 60: 51,
 61: 51,
 62: 51,
 63: 51,
 64: 51,
 65: 51,
 66: 51,
 67: 51,
 68: 51,
 69: 51,
 70: 51,
 71: 51,
 72: 51,
 73: 51,
 74: 51,
 75: 51,
 76: 51,
 77: 51,
 78: 51,
 79: 51,
 80: 51,
 81: 51,
 82: 51,
 83: 51,
 84: 51,
 85: 51,
 86: 51,
 87: 51,
 88: 51,
 89: 51,
 90: 51,
 91: 51,
 92: 51,
 93: 51,
 94: 51,
 95: 51,
 96: 51,
 97: 51,
 98: 51,
 99: 51,
 100: 51,
 101: 51,
 102: 51,
 103: 51,
 104: 51,
 105: 51,
 106: 51,
 107: 51,
 108: 51,
 109: 51,
 110: 51,
 111: 51,
 112: 51,
 113: 51,
 114: 51,
 115: 51,
 116: 51,
 117: 51,
 118: 51,
 119: 51,
 120: 51,
 121: 51,
 122: 51,
 123: 51,
 124: 51,
 125: 51,
 126: 51,
 127: 51,
 128: 51,
 129: 51,
 130: 51,
 131: 51,
 132: 51,
 133: 51,
 134: 51,
 135: 51,
 136: 51,
 137: 51,
 138: 51,
 139: 51,
 140: 51,
 141: 51,
 142: 51,
 143: 51,
 144: 51,
 145: 51,
 146: 51,
 147: 51,
 148: 51,
 149: 51,
 150: 51,
 151: 51,
 152: 51,
 153: 51,
 154: 51,
 155: 51,
 156: 51,
 157: 51,
 158: 51,
 159: 51,
 160: 51,
 161: 51,
 162: 51,
 163: 51,
 164: 51,
 165: 51,
 166: 51,
 167: 51,
 168: 51,
 169: 51,
 170: 51,
 171: 51,
 172: 51,
 173: 51,
 174: 51,
 175: 51,
 176: 51,
 177: 51,
 178: 51,
 179: 51,
 180: 51,
 181: 51,
 182: 51,
 183: 51,
 184: 51,
 185: 51,
 186: 51,
 187: 51,
 188: 51,
 189: 51,
 190: 51,
 191: 51,
 192: 51,
 193: 51,
 194: 51,
 195: 51,
 196: 51,
 197: 51,
 198: 51,
 199: 51,
 200: 51,
 201: 51,
 202: 51,
 203: 51,
 204: 51,
 205: 51,
 206: 51,
 207: 51,
 208: 51,
 209: 51,
 210: 51,
 211: 51,
 212: 51,
 213: 51,
 214: 51,
 215: 51,
 216: 51,
 217: 51,
 218: 51,
 219: 51,
 220: 51,
 221: 51,
 222: 51,
 223: 51,
 224: 51,
 225: 51,
 226: 51,
 227: 51,
 228: 51,
 229: 51,
 230: 51,
 231: 51,
 232: 51,
 233: 51,
 234: 51,
 235: 51,
 236: 51,
 237: 51,
 238: 51,
 239: 51,
 240: 51,
 241: 51,
 242: 51,
 243: 51,
 244: 51,
 245: 51,
 246: 51,
 247: 51,
 248: 51,
 249: 51,
 250: 51,
 251: 51,
 252: 51,
 253: 51,
 254: 51,
 255: 51,
 256: 51,
 257: 51,
 258: 51,
 259: 51,
 260: 51,
 261: 51,
 262: 51,
 263: 51,
 264: 51,
 265: 51,
 266: 51,
 267: 51,
 268: 51,
 269: 51,
 270: 53,
 271: 53,
 272: 53,
 273: 53,
 274: 53,
 275: 53,
 276: 53,
 277: 53,
 278: 53,
 279: 53,
 280: 53,
 281: 53,
 282: 53,
 283: 53,
 284: 53,
 285: 53,
 286: 53,
 287: 53,
 288: 53,
 289: 53,
 290: 53,
 291: 53,
 292: 53,
 293: 53,
 294: 53,
 295: 53,
 296: 53,
 297: 53,
 298: 53,
 299: 53,
 300: 53,
 301: 53,
 302: 53,
 303: 53,
 304: 53,
 305: 53,
 306: 53,
 307: 53,
 308: 53,
 309: 53,
 310: 53,
 311: 53,
 312: 53,
 313: 53,
 314: 53,
 315: 53,
 316: 53,
 317: 53,
 318: 53,
 319: 53,
 320: 53,
 321: 53,
 322: 53,
 323: 53,
 324: 53,
 325: 53,
 326: 53,
 327: 53,
 328: 53,
 329: 53,
 330: 53,
 331: 53,
 332: 53,
 333: 53,
 334: 53,
 335: 53,
 336: 53,
 337: 53,
 338: 53,
 339: 53,
 340: 53,
 341: 53,
 342: 53,
 343: 53,
 344: 53,
 345: 53,
 346: 53,
 347: 53,
 348: 53,
 349: 53,
 350: 53,
 351: 53,
 352: 53,
 353: 53,
 354: 53,
 355: 53,
 356: 53,
 357: 53,
 358: 53,
 359: 53,
 360: 53,
 361: 53,
 362: 53,
 363: 53,
 364: 53,
 365: 53,
 366: 53,
 367: 53,
 368: 53,
 369: 53,
 370: 53,
 371: 53,
 372: 53,
 373: 53,
 374: 53,
 375: 53,
 376: 53,
 377: 53,
 378: 53,
 379: 53,
 380: 53,
 381: 53,
 382: 53,
 383: 53,
 384: 53,
 385: 53,
 386: 53,
 387: 53,
 388: 53,
 389: 53,
 390: 53,
 391: 53,
 392: 53,
 393: 53,
 394: 53,
 395: 53,
 396: 53,
 397: 53,
 398: 53,
 399: 53,
 400: 53,
 401: 53,
 402: 53,
 403: 53,
 404: 53,
 405: 53,
 406: 53,
 407: 53,
 408: 53,
 409: 53,
 410: 53,
 411: 53,
 412: 53,
 413: 53,
 414: 53,
 415: 53,
 416: 53,
 417: 53,
 418: 53,
 419: 53,
 420: 53,
 421: 53,
 422: 53,
 423: 53,
 424: 53,
 425: 53,
 426: 53,
 427: 53,
 428: 53,
 429: 53,
 430: 53,
 431: 53,
 432: 53,
 433: 53,
 434: 53,
 435: 53,
 436: 53,
 437: 53,
 438: 53,
 439: 53,
 440: 53,
 441: 53,
 442: 53,
 443: 53,
 444: 53,
 445: 53,
 446: 53,
 447: 53,
 448: 53,
 449: 53,
 450: 53,
 451: 53,
 452: 53,
 453: 53,
 454: 53,
 455: 53,
 456: 53,
 457: 53,
 458: 53,
 459: 53,
 460: 53,
 461: 53,
 462: 53,
 463: 53,
 464: 53,
 465: 53,
 466: 53,
 467: 53,
 468: 53,
 469: 53,
 470: 53,
 471: 53,
 472: 53,
 473: 53,
 474: 53,
 475: 53,
 476: 53,
 477: 53,
 478: 53,
 479: 53,
 480: 53,
 481: 53,
 482: 53,
 483: 53,
 484: 53,
 485: 53,
 486: 53,
 487: 53,
 488: 53,
 489: 53,
 490: 53,
 491: 53,
 492: 53,
 493: 53,
 494: 53,
 495: 53,
 496: 53,
 497: 53,
 498: 53,
 499: 53,
 500: 53,
 501: 53,
 502: 53,
 503: 53,
 504: 53,
 505: 53,
 506: 53,
 507: 53,
 508: 53,
 509: 53,
 510: 53,
 511: 53,
 512: 53,
 513: 53,
 514: 53,
 515: 53,
 516: 53,
 517: 53,
 518: 53,
 519: 53,
 520: 53,
 521: 53,
 522: 53,
 523: 53,
 524: 53,
 525: 53,
 526: 53,
 527: 53,
 528: 53,
 529: 53,
 530: 53,
 531: 53,
 532: 53,
 533: 53,
 534: 53,
 535: 53,
 536: 53,
 537: 53,
 538: 53,
 539: 53,
 540: 53,
 541: 53,
 542: 53,
 543: 53,
 544: 53,
 545: 53,
 546: 53,
 547: 53,
 548: 53,
 549: 53,
 550: 53,
 551: 53,
 552: 53,
 553: 53,
 554: 53,
 555: 53,
 556: 53,
 557: 53,
 558: 53,
 559: 53,
 560: 53,
 561: 53,
 562: 53,
 563: 53,
 564: 53,
 565: 53,
 566: 53,
 567: 53,
 568: 53,
 569: 53,
 570: 53,
 571: 53,
 572: 53,
 573: 53,
 574: 53,
 575: 53,
 576: 53,
 577: 53,
 578: 53,
 579: 53,
 580: 53,
 581: 53,
 582: 53,
 583: 53,
 584: 53,
 585: 53,
 586: 53,
 587: 53,
 588: 53,
 589: 53,
 590: 53,
 591: 53,
 592: 53,
 593: 53,
 594: 53,
 595: 53,
 596: 53,
 597: 53,
 598: 53,
 599: 53,
 600: 53,
 601: 53,
 602: 53,
 603: 53,
 604: 53,
 605: 53,
 606: 53,
 607: 53,
 608: 53,
 609: 53,
 610: 53,
 611: 53,
 612: 53,
 613: 53,
 614: 53,
 615: 53,
 616: 53,
 617: 53,
 618: 53,
 619: 53,
 620: 53,
 621: 53,
 622: 53,
 623: 53,
 624: 53,
 625: 53,
 626: 53,
 627: 53,
 628: 53,
 629: 53,
 630: 53,
 631: 53,
 632: 53,
 633: 53,
 634: 53,
 635: 53,
 636: 53,
 637: 53,
 638: 53,
 639: 53,
 640: 53,
 641: 53,
 642: 53,
 643: 53,
 644: 53,
 645: 53,
 646: 53,
 647: 53,
 648: 53,
 649: 53,
 650: 53,
 651: 53,
 652: 53,
 653: 53,
 654: 53,
 655: 53,
 656: 53,
 657: 53,
 658: 53,
 659: 53,
 660: 53,
 661: 53,
 662: 53,
 663: 53,
 664: 53,
 665: 53,
 666: 53,
 667: 53,
 668: 53,
 669: 53,
 670: 53,
 671: 53,
 672: 53,
 673: 53,
 674: 53,
 675: 53,
 676: 53,
 677: 53,
 678: 53,
 679: 53,
 680: 53,
 681: 53,
 682: 53,
 683: 53,
 684: 53,
 685: 53,
 686: 53,
 687: 53,
 688: 53,
 689: 53,
 690: 53,
 691: 53,
 692: 53,
 693: 53,
 694: 53,
 695: 53,
 696: 53,
 697: 53,
 698: 53,
 699: 53,
 700: 53,
 701: 53,
 702: 53,
 703: 53,
 704: 53,
 705: 53,
 706: 53,
 707: 53,
 708: 53,
 709: 53,
 710: 53,
 711: 53,
 712: 53,
 713: 53,
 714: 53,
 715: 53,
 716: 53,
 717: 53,
 718: 53,
 719: 53,
 720: 53,
 721: 53,
 722: 53,
 723: 53,
 724: 53,
 725: 53,
 726: 53,
 727: 53,
 728: 53,
 729: 53,
 730: 53,
 731: 53,
 732: 53,
 733: 53,
 734: 53,
 735: 53,
 736: 53,
 737: 53,
 738: 53,
 739: 53,
 740: 53,
 741: 53,
 742: 53,
 743: 53,
 744: 53,
 745: 53,
 746: 53,
 747: 53,
 748: 53,
 749: 53,
 750: 53,
 751: 53,
 752: 53,
 753: 53,
 754: 53,
 755: 53,
 756: 53,
 757: 53,
 758: 53,
 759: 53,
 760: 53,
 761: 53,
 762: 53,
 763: 53,
 764: 53,
 765: 53,
 766: 53,
 767: 53,
 768: 53,
 769: 53,
 770: 53,
 771: 53,
 772: 53,
 773: 53,
 774: 53,
 775: 53,
 776: 53,
 777: 53,
 778: 53,
 779: 53,
 780: 53,
 781: 53,
 782: 53,
 783: 53,
 784: 53,
 785: 53,
 786: 53,
 787: 53,
 788: 53,
 789: 53,
 790: 53,
 791: 53,
 792: 53,
 793: 53,
 794: 53,
 795: 53,
 796: 53,
 797: 53,
 798: 53,
 799: 53,
 800: 53,
 801: 53,
 802: 53,
 803: 53,
 804: 53,
 805: 53,
 806: 53,
 807: 53,
 808: 53,
 809: 53,
 810: 53,
 811: 53,
 812: 53,
 813: 53,
 814: 53,
 815: 53,
 816: 53,
 817: 53,
 818: 53,
 819: 53,
 820: 53,
 821: 53,
 822: 53,
 823: 53,
 824: 53,
 825: 53,
 826: 53,
 827: 53,
 828: 53,
 829: 53,
 830: 53,
 831: 53,
 832: 53,
 833: 53,
 834: 53,
 835: 53,
 836: 53,
 837: 53,
 838: 53,
 839: 53,
 840: 53,
 841: 53,
 842: 53,
 843: 53,
 844: 53,
 845: 53,
 846: 53,
 847: 53,
 848: 53,
 849: 53,
 850: 53,
 851: 53,
 852: 53,
 853: 53,
 854: 53,
 855: 53,
 856: 53,
 857: 53,
 858: 53,
 859: 53,
 860: 53,
 861: 53,
 862: 53,
 863: 53,
 864: 53,
 865: 53,
 866: 53,
 867: 53,
 868: 53,
 869: 53,
 870: 53,
 871: 53,
 872: 53,
 873: 53,
 874: 53,
 875: 53,
 876: 53,
 877: 53,
 878: 53,
 879: 53,
 880: 53,
 881: 53,
 882: 53,
 883: 53,
 884: 53,
 885: 53,
 886: 53,
 887: 53,
 888: 53,
 889: 53,
 890: 53,
 891: 53,
 892: 53,
 893: 53,
 894: 53,
 895: 53,
 896: 53,
 897: 53,
 898: 53,
 899: 53,
 900: 53,
 901: 53,
 902: 53,
 903: 53,
 904: 53,
 905: 53,
 906: 53,
 907: 53,
 908: 53,
 909: 53,
 910: 53,
 911: 53,
 912: 53,
 913: 53,
 914: 53,
 915: 53,
 916: 53,
 917: 53,
 918: 53,
 919: 53,
 920: 53,
 921: 53,
 922: 53,
 923: 53,
 924: 53,
 925: 53,
 926: 53,
 927: 53,
 928: 53,
 929: 53,
 930: 53,
 931: 53,
 932: 53,
 933: 53,
 934: 53,
 935: 53,
 936: 53,
 937: 53,
 938: 53,
 939: 53,
 940: 53,
 941: 53,
 942: 53,
 943: 53,
 944: 53,
 945: 53,
 946: 53,
 947: 53,
 948: 53,
 949: 53,
 950: 53,
 951: 53,
 952: 53,
 953: 53,
 954: 53,
 955: 53,
 956: 53,
 957: 53,
 958: 53,
 959: 53,
 960: 53,
 961: 53,
 962: 53,
 963: 53,
 964: 53,
 965: 53,
 966: 53,
 967: 53,
 968: 53,
 969: 53,
 970: 53,
 971: 53,
 972: 53,
 973: 53,
 974: 53,
 975: 53,
 976: 53,
 977: 53,
 978: 53,
 979: 53,
 980: 53,
 981: 53,
 982: 53,
 983: 53,
 984: 53,
 985: 53,
 986: 53,
 987: 53,
 988: 53,
 989: 53,
 990: 53,
 991: 53,
 992: 53,
 993: 53,
 994: 53,
 995: 53,
 996: 53,
 997: 53,
 998: 53,
 999: 53,
 ...}

In [26]:
enade.loc[
    (enade.CO_UF_CURSO == 43) & (enade.CO_GRUPO == 5806) ,"NT_CE"
].mean()

34.79692671394829

3. Qual é a média da nota do componente de formação geral de alunas do sexo feminino, pardas, de Minas Gerais em cursos presenciais de Engenharia de produção?

In [27]:
enade.loc[
    (enade.CO_UF_CURSO == 31) &
    (enade.TP_SEXO == 'F') &
    (enade.DESC_COR == 'Parda') &
    (enade.CO_MODALIDADE == "Presencial") &
    (enade.CO_GRUPO == 6208),
    "NT_FG"
].mean()

40.19142394822005